.main {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background: linear-gradient(#200016, #10001f);
    height: 100vh;
    font-family: system-ui;
}

a {
    text-decoration: none !important;
    color: white !important;

}

header {
    position: fixed;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px !important;
   
 
}

header .logo {
    font-size: 30px !important;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-right: 30px !important;
}

header ul li a {
    padding: 6px 15px !important;
    border-radius: 20px;
}

header ul li a:hover,
.active {
    background-color: white;
    color: #200016 !important;
}

.main {
    position: relative;
    height: 100vh !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.main::after {
    content: '';
    position: absolute;
    bottom: 0 !important;
    height: 100px !important;
    width: 100%;
    background: linear-gradient(to top, #200016, transparent);

}

.main img {
    position: absolute;
    width: 100% !important;
    height: 100vh;
    object-fit: cover;


}

#moon {
    mix-blend-mode: screen;
    transform: translateY(80px) !important;

}

.outdoors {
    color: white;
    font-size: 8px;
    text-transform: uppercase;
    transform: translateY(-150px) !important;
}

.container {

    position: relative;
    height: 100vh !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px !important;
    margin: 20px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)


}

.flip-card {
    perspective: 3000px!important;
    position: relative!important;
  }
  
  .card-inner {
    width: 100%!important;
    height: 100%!important;
    transition: transform 1.5s!important;
    transform-style: preserve-3d!important;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%!;
    height: 100%!;
    backface-visibility: hidden;
  }
  
  .card-front {
    z-index: 1;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }
  
  .card-body {
    padding: 20px!;
  }
  .card-body {
    padding: 20px;
    color: white!important; /* Set the text color to white */
  }


  @media (max-width: 768px) {
    header {
      margin: 10px !important;
    }
    
    header .logo {
      font-size: 24px !important;
    }
    
    header ul li {
      margin-right: 20px !important;
    }
    
    .main::after {
      height: 50px !important;
    }
    
    #moon {
      transform: translateY(40px) !important;
    }
    
    .outdoors {
      font-size: 24px !important;
      transform: translateY(-100px) !important;
    }
    
    .container {
      padding: 10px !important;
      margin: 10px !important;
    }
    
    .flip-card {
      perspective: 1500px !important;
    }
    
    .card-body {
      padding: 10px !important;
    }
  }